@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer {
    width: 100%;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: hsl(204, 43%, 93%);
}

.seccion__white {
    box-sizing: border-box;
    padding: 30px 70px 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 0 0;
} 

.tittle {

    color: hsl(179, 62%, 43%);
    font-weight: 700;
}

.subtitel {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 1.1em;
}

.extracto {
    color: hsl(218, 22%, 67%);
    max-width: 550px;
    line-height: 30px;
    font-size: 1em;
}

.seccion__green {
    display: flex;
    color: hsl(0, 0%, 100%);
}

.suscripcion {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    padding:30px 40px;
    border-radius: 0 0 0 10px;
}

.white {
    color: hsl(0, 0%, 100%);
}

.lightgray {
    color: hsl(204, 43%, 93%);
}

.size {
    font-size: .5em;
    font-weight: 400;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.margin {
    margin-top: 0;
    margin-bottom: 40px;
}

.singup {
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    font-weight: 700;
    direction: none;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px hsl(179, 61%, 38%);
    font-size: 1.1em;
}

.whyus {
    width: 50%;
    background-color: hsl(179, 62%, 43%, 0.8);
    padding:30px 90px 30px 40px;
    border-radius: 0 0 10px 0px;
}
.whyus .extracto{
    line-height: 25px;
}

@media(max-width:730px) {
    .continer{
        width: 100%;
        height: 100%;
        padding: 50px 0px;
    }
    .suscripcion {
        box-sizing: border-box;
        width: 320px;
        padding: 20px 20px 20px 20px;    
        border-radius: 0 0 0px 0px;  
    }
    .whyus {
        padding:30px;
        box-sizing: border-box;
        width: 320px;
        border-radius: 0 0 10px 10px; 
    }
    .seccion__white {
        height: auto;
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 320px;
    }
    .seccion__green {
        flex-direction: column;
        height: auto;
    }
    .singup {
        width: 100%;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}